# Database
DB_USER=shrota
DB_PASSWORD=your_staging_password_here
DB_NAME=shrota_staging

# Backend
CORS_ORIGINS=https://admin.staging.shrota.in,http://localhost:3000,http://localhost:5173
JWT_SECRET_KEY=your_staging_jwt_secret_here

# Frontend
VITE_API_URL=https://api.staging.shrota.in
VITE_CDN_URL=https://audiolibrary.staging.shrota.in
